.destination {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
}

.destination-content {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20vh;

}

.Image-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}
.page-title {
    color: rgb(182, 181, 181);
}
.title-text {
    color: rgb(226, 226, 226);
}
.destination-image {
    height: 55vh;
    width: 55vh;
    margin: 10vh;
}

.destination-details-container {
    width: 45%;
}
.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

.top-bar-item {
    color: rgb(226, 226, 226);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    cursor: pointer;

}
.destination-name {
    color: rgb(226, 226, 226);
    font-size: 7vw;
    font-family: 'Playfair Display', serif;
    margin-left: 0.4rem;
    letter-spacing: 0.5rem;
}
.description {
    max-width: 80%;
    color: rgb(226, 226, 226);
    font-weight: 400;
    margin-top: 2vh;
    font-size: 1.1vw;
}

.horizontal-line {
    width: 80%;
    height: 0.2px;
    background-color: rgb(124, 124, 124);
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 5vh;
}
.distance-container, .time-container  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(226, 226, 226);
}
.heading , .heading-time{
    font-size: 1.1vw;
    color: rgba(211, 211, 211, 0.864);
    margin-bottom: 0.6rem;
}
.distance, .time {
    font-size: 1.8vw;
    font-family: 'Playfair Display', serif;

}

@media (max-width : 600px){
    .destination {
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/destination/background-destination-mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        box-sizing: border-box;
    }
    .destination-content {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5vh;

    }
    
    .Image-container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 40%;
    }
    .destination-image {
        height: 25vh;
        width: 25vh;
        align-self: center;
        margin-top: 2vh;
    }
    .destination-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .top-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
        height: 5vh;
    }
    
    .top-bar-item {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }

    .destination-name {
        color: rgb(226, 226, 226);
        font-size: 7vh;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.2rem;
    }
    .description {
        max-width: 100%;
        color: rgb(226, 226, 226);
        font-weight: 400;
        margin-top: 2vh;
        font-size: 1.8vh;
        text-align: center;
        margin-bottom: 0;
    }
    
    .horizontal-line {
        visibility: hidden;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .range-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        margin-top: 2vh;
    }
    .distance-container, .time-container  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(226, 226, 226);
        margin-bottom: 1rem;
    }
    .heading , .heading-time{
        font-size: 2vh;
        color: rgba(211, 211, 211, 0.864);
        margin-bottom: 0.3rem;
    }
    .distance, .time {
        font-size: 3.5vh;
        font-family: 'Playfair Display', serif;
    
    }
    
}